<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomacaoIndra">
  <test thread-count="5" name="TestAutomatizados_Indra">
      <classes>
      <class name="casosdetestes.UC_Validarlogin"/>
      </classes>
  </test>
</suite> <!-- Suite -->
